@use "../tokens/system-tokens" as *;
@use "../mixins/typography" as *;

// ========================================================
// TOOLTIP COMPONENT
// ========================================================

.tooltip {
  position: relative;
  display: inline-block;

  &__content {
    @include typography("label-small");
    position: absolute;
    background-color: var(--md-sys-color-on-surface);
    color: var(--md-sys-color-surface);
    padding: 0.5rem 0.75rem;
    border-radius: var(--md-sys-shape-corner-small);
    white-space: normal;
    max-width: 840px;
    min-width: 120px;
    word-break: break-word;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
    text-align: center;

    // === Color Variants ===
    &--info {
      background-color: var(--md-sys-color-primary-container);
      color: var(--md-sys-color-on-primary-container);
    }

    &--success {
      background-color: var(--md-sys-color-success-container);
      color: var(--md-sys-color-on-success-container);
    }

    &--warning {
      background-color: var(--md-sys-color-tertiary-container);
      color: var(--md-sys-color-on-tertiary-container);
    }

    &--error {
      background-color: var(--md-sys-color-error-container);
      color: var(--md-sys-color-on-error-container);
    }
  }

  &:hover .tooltip__content,
  &:focus-within .tooltip__content {
    opacity: 1;
  }
}

// ======== Positions ==========
// == Top ==
.tooltip--top .tooltip__content {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip--top .tooltip__content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--md-sys-color-on-surface) transparent transparent transparent;
}

// == Bottom ==
.tooltip--bottom .tooltip__content {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip--bottom .tooltip__content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--md-sys-color-on-surface) transparent;
}

// == Left ==
.tooltip--left .tooltip__content {
  right: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip--left .tooltip__content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--md-sys-color-on-surface);
}

// == Right ==
.tooltip--right .tooltip__content {
  left: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip--right .tooltip__content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--md-sys-color-on-surface) transparent transparent;
}
