@use "../tokens/system-tokens" as *;
@use "sass:map";
@use "sass:list";

// ====================================================
// Typography Mixins                                   =
//                                                    =
// Usage: @include typography("headline-large");      =
// ====================================================

@mixin typography($style) {
  @if map.has-key($md-sys-typography, $style) {
    $values: map.get($md-sys-typography, $style);
    font-size: list.nth($values, 1);
    line-height: list.nth($values, 2);
    font-weight: list.nth($values, 3);
    font-family: $md-sys-font-family-primary;
  } @else {
    @warn "Typography style `#{$style}` is not defined!";
  }
}
