@use "../tokens/user-tokens" as *;
@use "../tokens/system-tokens" as *;

// ====================================================
// Typography Mixins                                   =
//                                                    =
// Usage: @include typography("headline-large");      =
// ====================================================

@mixin typography($style) {
  @if map-has-key($md-sys-typography, $style) {
    $values: map-get($md-sys-typography, $style);
    font-size: nth($values, 1);
    line-height: nth($values, 2);
    font-weight: nth($values, 3);
    font-family: $md-sys-font-family-primary;
  } @else {
    @warn "Typography style `#{$style}` is not defined!";
  }
}
