@use "../tokens/user-tokens" as *;
@use "../tokens/system-tokens" as *;

// =============================
// CONTAINER Classes
// =============================

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: $md-sys-container-padding;

  @media (min-width: $md-sys-breakpoint-medium) {
    max-width: $md-sys-container-medium;
  }
  @media (min-width: $md-sys-breakpoint-large) {
    max-width: $md-sys-container-large;
  }
  // == Extended breakpoints ==
  @media (min-width: $md-sys-breakpoint-extended-md) {
    max-width: $md-sys-container-extended-md;
  }
  @media (min-width: $md-sys-breakpoint-extended-lg) {
    max-width: $md-sys-container-extended-lg;
  }
  @media (min-width: $md-sys-breakpoint-extended-xl) {
    max-width: $md-sys-container-extended-xl;
  }
  @media (min-width: $md-sys-breakpoint-extended-2xl) {
    max-width: $md-sys-container-extended-2xl;
  }
}
